
.cm-s-light span.cm-comment { color: grey; }
.cm-s-light span.cm-mental-load { color: blueviolet; }
.cm-s-light span.cm-time-load { color: green; }
.cm-s-light span.cm-task-amount { color: #36B8AB; }
.cm-s-light span.cm-task { color: red; }