/*
    Using Codemirror's Zenburn theme for editor
*/

.cm-s-zenburn .CodeMirror-gutters { background: #3f3f3f !important; }
.cm-s-zenburn .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #999; }
.cm-s-zenburn .CodeMirror-cursor { border-left: 1px solid white; }
.cm-s-zenburn.CodeMirror { background-color: #3f3f3f; color: #cc9393; }

.cm-s-zenburn span.cm-comment { color: #7f9f7f; font-style: italic; }
.cm-s-zenburn span.cm-mental-load { color: #7cb8bb; }
.cm-s-zenburn span.cm-time-load { color: #dcdccc; }
.cm-s-zenburn span.cm-task-amount { color: #dfaf8f; }
.cm-s-zenburn span.cm-task { color: #93e0e3; font-weight: bold; }

.cm-s-zenburn span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-zenburn span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-zenburn .CodeMirror-activeline { background: #000000; }
.cm-s-zenburn .CodeMirror-activeline-background { background: #000000; }
.cm-s-zenburn div.CodeMirror-selected { background: #545454; }
.cm-s-zenburn .CodeMirror-focused div.CodeMirror-selected { background: #4f4f4f; }