
.CodeMirror {
    height: calc( 100vh - 180px );
    outline: currentColor none medium;
    font-size: 22px;
}

#open-file-input {
    display: none;
}

#settings-button,
#help-button,
li > span {
    cursor: pointer;
}