
.CodeMirror {
    height: calc( 100vh - 180px );
    outline: currentColor none medium;
    font-size: 18px;
}

#open-file-input {
    display: none;
}

li > span {
    cursor: pointer;
}

.cm-comment {
    color:grey;
}

.cm-mental-load {
    color: green;
}

.cm-time-load {
    color: blueviolet;
}

.cm-task-amount {
    color: turquoise;
}

.cm-task {
    color: red;
}