
#settings-box {
    height: calc( 100vh - 66px );
    overflow: auto;
    white-space: nowrap;
}

#settings-sidebar {
    height: calc( 100vh - 66px );
}

#save-button,
#back-button {
    cursor: pointer;
}