
#help-box,
#settings-box {
    height: calc( 100vh - 66px );
    overflow: auto;
    white-space: nowrap;
}

#help-sidebar,
#settings-sidebar {
    height: calc( 100vh - 66px );
}

#save-button,
#back-button {
    cursor: pointer;
}

p {
    font-size: 1.5vw;
}